.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-heading {
  height: 51px;
  width: 160px;
  font-family: Impact;
  background: royalblue;
  color: aliceblue;
  margin: auto;
  padding-left: 15px;
  border-radius: 1px;
  margin-left: 0px;
  display: inline-block;
  height: 50px;
  padding-top: 5px;
  transform: skew(-25deg, 0);

}

.bar-div {
  background: #2b2c2d;
}



.head-back {
  background-color: royalblue;
  display: inline-block;
  width: 60px
}

.site-head {
  background: #2b2c2d;
  display: inline-block;
}

.nav-bar {
  display: inline-block;
  margin-top: 0px;
  margin-left: 125px;
  width: 75%;
  align-items: stretch; /* Default */
  justify-content: space-between;

  padding: 0px;
}

.nav-item {
  cursor: pointer;
  padding-left: 50px;
  color: white;
  display: inline-block;
  list-style-type: none;
  color: whitesmoke;
}

.main-container {
  background: #edeef0;
  padding-top: 75px;
}

.left-column {
  width: 25%;
  float: left;
  background: #edeef0;
}


.middle-column {
  width: 50%;
  float: left;
  text-align: center;
  background: #edeef0;
}

.right-column {
  width: 25%;
  float: left;
  background: #edeef0;
}

.offense-container {
  box-sizing: border-box;
  border-radius: 10px;
  width: 75%;
  background-color: #f9f9f9;
  height: 350px;
  border: 0;
  float: left;
  margin-left: 12.5%;
  border-radius: 10px;
  height: 250px;
}

.offense-header {
  background: #f9f9f9;
  margin-left: 16px;
  padding-left: 2px;
  font-family: baskerville;
  font-weight: 800;
  font-size: x-large;
  border-bottom: 1px dotted;
  width: 85px;

}

.admin-list {
  list-style: none;
  padding-bottom: 5px;
}

.admin-list:hover {
  font-weight: 800;
  cursor: pointer;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.pos-item {
  padding-top: 5px;
  list-style: none;

}

.pos-item:hover {
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}

.offense-list {
  padding-left: 14px;
  font-size: large;
  margin-top: 15px;
  font-size: 14px;
}

.search-field {
  display: inline-flex;
}

.results-container {
  height: 300px;
  background: white;
  margin-top: 25px;
  border-radius: 10px;
}

.suggestions-area {
  text-align: center;
  list-style: none;
  width: 209px;
  background-color: white;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  margin-left: 225px;
  top: 100%;
  left: 0;
  right: 0;
  position: absolute;
  top: 105px;
  left: 320px;

}

.suggestion-list {
  border-bottom: 1px groove;
  font-size: larger;
  background: #e5eaf3

}

.suggestion-list:hover {
  background: whitesmoke;
  cursor: pointer;
  font-weight: 600;

}

.search-bar {
  font-size: 17px;
border: 1px solid grey;
float: left;
width: 80%;
background: #f9fafd;
}


.admin-left {
  width: 25%;
  float: left;

}

.admin-right {
  width: 75%;
  float: left;
}

.nav-item:hover {
  color: white;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
