.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-heading {
  height: 51px;
  width: 160px;
  font-family: Impact;
  background: #3262f5;;
  color: aliceblue;
  margin: auto;
  padding-left: 15px;
  border-radius: 1px;
  margin-left: 0px;
  display: inline-block;
  height: 50px;
  padding-top: 5px;


}

.nav-heading::after {
  background: #b40000;
  width: 300px;
  transform: skew(-25deg, 0);
  content: "";
}

.bar-div {
  background: #2b2c2d;
  height: 55px;
}



.head-back {
  transform: skew(-25deg, 0);
  background-color: #255cff9e;
  display: inline-block;
  width: 193px;
}

.site-head {
  display: inline-block;
  background: #3262f5;;
  width: 100px;
}

.nav-bar {
  display: inline-block;
  margin-top: 0px;
  margin-left: 125px;
  width: 75%;
  align-items: stretch; /* Default */
  justify-content: space-between;

  padding: 0px;
}

.nav-item {
  cursor: pointer;
  padding-left: 50px;
  color: white;
  display: inline-block;
  list-style-type: none;
  color: whitesmoke;
}

.main-container {
  background: #edeef0;
  padding-top: 75px;
}

.left-column {
  width: 25%;
  float: left;
  background: #edeef0;
}

.rank-table {
  overflow: hidden;
  border-radius: 14px;
  transform: rotate(0deg);
}


.middle-column {
  width: 50%;
  float: left;
  text-align: center;
  background: #edeef0;
  margin-top: -25px;
}

.table-title {
  color: white;
  background: #3262f5;
}

.table-values {
  font-size: 14px;
  font-family: verdana;
}

.middle-column-rank {
  width: 70%;
  float: left;
  text-align: center;
  background: #edeef0;
  margin-top: -25px;
  padding-top: 25px;
}

.right-column {
  width: 25%;
  float: left;
  background: #edeef0;
}

.offense-container {
  box-sizing: border-box;
  border-radius: 10px;
  width: 75%;
  background-color: #f9f9f9;
  height: 350px;
  border: 0;
  float: left;
  margin-left: 12.5%;
  border-radius: 10px;
  height: 245px;
  box-shadow: 16px 0px 14px #d6d6d8;
  margin-bottom: 50px;
}

.offense-header {
  background: #f9f9f9;
  margin-left: 16px;
  padding-left: 2px;
  font-family: baskerville;
  font-weight: 800;
  font-size: x-large;
  border-bottom: 1px dotted;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: -4px;
}

.ptw-header {
  background: #f9f9f9;
  padding-bottom: 5px;
  margin-left: 16px;
  padding-left: 2px;
  font-family: baskerville;
  font-weight: 800;
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: -2px;
  border-bottom: 1px dotted;
  width: 85%;
}

.admin-list {
  list-style: none;
  padding-bottom: 5px;
}

.admin-heading {
  height: 50px;

}


.admin-list:hover {
  font-weight: 800;
  cursor: pointer;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.pos-item {
  padding-top: 5px;
  list-style: none;

}

.pos-item:hover {
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}

.offense-list {
  padding-left: 14px;
  font-size: large;
  margin-top: 15px;
  font-size: 14px;
}

.search-field {
  display: inline-flex;
}

.results-container {
  height: 300px;

  margin-top: 25px;

}

.articleImg {
  max-width: 450px;
  max-width: 100%;

}

.article-desc {

}

.nav-ext {
  width: 25px;
  content: ""
}

.article-head {
  width: 90%;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 15px;
}

.article-head::after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 90%; /* Change this to whatever width you want. */
    padding-top: 5px; /* This creates some space between the element and the border. */
    border-bottom: 1px dotted grey;
}

.article-div {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #606061;
  padding-bottom: 15px;
  margin-top: 25px;
}

.suggestions-area {
  margin-top: 28px;
  text-align: center;
  list-style: none;
  width: 209px;
  background-color: white;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  margin-left: 324px;
  top: 100%;
  left: 0;
  right: 0;
  position: absolute;
  top: 105px;
  left: 320px;

}

.suggestion-list {
  border-bottom: 1px groove;
  font-size: larger;
  background: #e5eaf3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.school-logo {
  max-width: 100px;
}

.login-area {
  text-align: center;
  display: block;

}

.update-form {
  display: table-caption;
  padding-top: 5px
}

.attributes {
  font-size: 14px;
  text-transform: uppercase;
  font-family: Oswald,sans-serif;
  font-weight: bold;
  width: 80px;
  letter-spacing: 1px;
  padding-right: 80px;
  float: left;

}

.attributes:nth-child(even) {
  margin-left: 60px;
}

.attributes-value {
  font-family: Oswald,sans-serif;
  float: left;
  width: 180px
}

.scout-input {
  padding-top: 20px;
  margin-top: 10px;
  width: 535px;
}



.prof-div {
  float: left;
  padding-left: 5%;
  padding-top: 2%;
  text-align: start;
  width: 100%;
  height: -webkit-fill-available;
  background: white;
  border-radius: 10px;
}

.prof-li {
  list-style: none;
  margin-top: 10px;

}

.prof-li:nth-child(even) {
  list-style: none;
  margin-top: 10px;
  margin-left: 50px;

}

.suggestion-list:hover {
  background: whitesmoke;
  cursor: pointer;
  font-weight: 600;

}

.search-bar {
  font-size: 17px;
border: 1px solid grey;
float: left;
width: 80%;
background: #f9fafd;
}


.admin-left {
  width: 25%;
  float: left;

}

.admin-right {
  width: 75%;
  float: left;
}

.nav-item:hover {
  color: white;
  font-weight: 500;
}

.login-area {
  height: 500px;
}

.form-area {
  margin-top: 50px;
  height: 250px;
  border: 1px solid;
  border-radius: 10px;
  width: 400px;
  margin-left: 35%;
  background: linear-gradient(90deg, rgb(114, 149, 202) 0%, rgb(123, 167, 239) 51%, rgb(82, 122, 183) 90%);
}

.username-input {
  margin-bottom: 5px;
  border: 1px;
  border-radius: 5px;
  height: 25px;
  width: 50%;
  background: #f1fbfb;
}

.article-div:hover {
  cursor: pointer;
}

.login-submit {
  font-family: sans-serif;
  margin-top: 5px;
  height: 25px;
  border-radius: 5px;
  width: 75px;
  letter-spacing: 2px;
}

.pass-input {
  border: 1px;
  border-radius: 5px;
  height: 25px;
  width: 50%;
  background: #f1fbfb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
