.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-heading {
  height: 51px;
  width: 160px;
  font-family: Impact;
  background: royalblue;
  color: aliceblue;
  margin: auto;
  padding-left: 15px;
  border-radius: 1px;
  margin-left: 0px;
  display: inline-block;
  height: 50px;
  padding-top: 5px;
  transform: skew(-25deg, 0);
}

.head-back {
  background-color: royalblue;
  display: inline-block;
  width: 60px
}

.site-head {
  background: #2b2c2d;
}

.nav-bar {
  display: inline-block;
  margin-top: 0px;
  margin-left: 125px;
  width: 75%;
  align-items: stretch; /* Default */
  justify-content: space-between;

  padding: 0px;
}

.nav-item {
  cursor: pointer;
  padding-left: 50px;
  color: white;
  display: inline-block;
  list-style-type: none;
  color: whitesmoke;
}

.nav-item:hover {
  color: white;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
